.reveal .slides section[data-slide-id] {
  font-size: .84em;
}

.reveal h1,
.reveal h2 {
  color: #2F3E7A;
  text-transform: none;
  line-height: 1.2;
}

.reveal h1 {
  font-size: 2.5em;
}

.reveal h2 {
  font-size: 1.6em;
}
